@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.messages {
  @extend .bg-light;

  .to-me {
    @extend .text-left;

    .message {
      @extend .bg-primary;
      color: $light;
    }
  }

  .by-me {
    @extend .text-right;
    -ms-text-align-last: right;
    text-align-last: right;
  }

  .message-wrapper {
    @extend .my-2;
  }

  .message {
    @extend .bg-white, .border, .rounded, .shadow-sm, .p-2, .text-justify;
    color: $dark;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-spaces;
  }
}

.hidden {
  display: none;
}